<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.iti.android.team1.ebuy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ebuy"
        tools:targetApi="31">
        <activity
            android:name="com.paypal.openid.RedirectUriReceiverActivity"
            android:excludeFromRecents="true"
            android:theme="@style/PYPLAppTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="paypalpay"
                    android:scheme="com.iti.android.team1.ebuy" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.paypal.pyplcheckout.home.view.activities.PYPLInitiateCheckoutActivity"
            android:theme="@style/AppFullScreenTheme"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="paypalxo"
                    android:scheme="com.iti.android.team1.ebuy" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.auth.view.AuthActivity"
            android:exported="true"
            tools:node="replace">

        </activity>
        <activity
            android:name=".activities.main.view.MainActivity"
            android:exported="true"
            tools:node="replace" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>